
.welcome{
    margin: auto;
    width: 50%;
    border: 3px solid rgb(106, 156, 204);
    padding: 10px;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    text-align:center;
}


.site__angelaimage{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.site__angelaimage__position{
  display: flex;
  
}
